@{
    ViewBag.Title = "Adults Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="parallax_window_in" data-parallax="scroll" data-image-src="@Url.Content("~/Asset/img/header/Adults.jpg")" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
        <h1>Courses</h1>
    </div>
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<div class="container_styled_1">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-12">
                <div class="box_style_6">
                    <div class="indent_title_in">
                        <i class="icon_archive_alt"></i>
                        <h3>
                            Details for the
                            Adolescence Activity Group
                        </h3>
                        <p>
                            Registration fee for the traning session is Rs. 5000.00
                            traning session has Divided in to 3 categeries
                        </p>
                    </div>
                    <div class="wrapper_indent">
                        <div class="table-responsive">
                            <table class="table table-striped" id="trainer_courses">
                                <thead>
                                    <tr>
                                        <th width="20%">
                                            Name
                                            of the
                                            category
                                        </th>
                                        <th >
                                            Delivery
                                            Dates
                                        </th>
                                        <th>
                                            Selection
                                            days
                                        </th>
                                        <th>Course fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Strength
                                            development
                                            training
                                            Session
                                        </td>
                                        <td>
                                            Monday
                                            Weednesday
                                            & Friday
                                        </td>
                                        <td>
                                            Three
                                            days
                                            per week
                                        </td>
                                        <td>
                                            Rs.3500/= for
                                            each month <br />For three
                                            months Rs.9000/=<br />
                                            For six months Rs.17500/=
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Flat burning
                                            training
                                            Session
                                        </td>
                                        <td>
                                            Monday
                                            Weednesday
                                            & Friday
                                        </td>
                                        <td>
                                            Three
                                            days
                                            per week
                                        </td>
                                        <td>
                                            Rs.3500/= for
                                            each month <br />For three
                                            months Rs.9000/=<br />
                                            For six months Rs.17500/=
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Aerobics
                                            Training
                                            Session
                                        </td>
                                        <td>
                                            Monday
                                            Weednesday
                                            & Friday
                                        </td>
                                        <td>
                                            Three
                                            days
                                            per week
                                        </td>
                                        <td>
                                            Rs.3500/= for
                                            each month <br />For three
                                            months Rs.9000/=<br />
                                            For six months Rs.17500/=
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Keep fit
                                            training
                                            session
                                        </td>
                                        <td>
                                            Monday
                                            to Saturday
                                        </td>
                                        <td>
                                            Six days
                                            per week
                                        </td>
                                        <td>
                                            Rs.3500/= for
                                            each month <br />For three
                                            months Rs.9000/=<br />
                                            For six months Rs.17500/=
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--wrapper_indent -->
                </div>
            </div>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
