@{
    ViewBag.Title = "Primary Kids Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="parallax_window_in" data-parallax="scroll" data-image-src="@Url.Content("~/Asset/img/header/Primary Kids.jpg")" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
        <h1>Primary Kids</h1>
    </div>
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<div class="container_styled_1">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-12">
                <div class="box_style_6">
                    <div class="indent_title_in">
                        <i class="icon_archive_alt"></i>
                        <h3>
                            Detailsfor the Primary
                            Kids Activity Training Group
                        </h3>
                        <p>
                            Registration fee for the course is Rs. 5000.00
                            Course has Divided in to 5 Levels
                        </p>
                    </div>
                    <div class="wrapper_indent">
                        <div class="table-responsive">
                            <table class="table table-striped" id="trainer_courses">
                                <thead>
                                    <tr>
                                        <th width="20%">
                                            Name
                                            of the
                                            course
                                        </th>
                                        <th >
                                            Course
                                            Duration
                                        </th>
                                        <th>
                                            Delivery
                                            dates
                                        </th>
                                        <th>
                                            Selection
                                            days
                                        </th>
                                        <th>Course fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Development
                                            moment Patten
                                            training course
                                            Level-2
                                        </td>
                                        <td>
                                            One year
                                            [96 hours]
                                        </td>
                                        <td>
                                            Monday
                                            to Saturday
                                        </td>
                                        <td>
                                            Two days
                                            per week
                                        </td>
                                        <td>
                                            1st three months Rs.12000/=<br />
                                            2nd three months Rs.9000/=
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Development
                                            moment Patten
                                            training course
                                            Level-3
                                        </td>
                                        <td>
                                            One year
                                            [96 hours]
                                        </td>
                                        <td>
                                            Monday
                                            to Saturday
                                        </td>
                                        <td>
                                            Two days
                                            per week
                                        </td>
                                        <td>
                                            1st three months Rs.12000/=<br />
                                            2nd three months Rs.9000/=
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Development
                                            moment Patten
                                            training course
                                            Level-4
                                        </td>
                                        <td>
                                            Six Months
                                            [96 hours]
                                        </td>
                                        <td>
                                            Monday
                                            to Saturday
                                        </td>
                                        <td>
                                            Three
                                            days
                                            per week
                                        </td>
                                        <td>
                                            1st three months Rs.12000/=<br />
                                            2nd three months Rs.9000/=
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Development
                                            moment Patten
                                            training course
                                            Level-5
                                        </td>
                                        <td>
                                            Six Months
                                            [96 hours]
                                        </td>
                                        <td>
                                            Monday
                                            to Saturday
                                        </td>
                                        <td>
                                            Three
                                            days
                                            per week
                                        </td>
                                        <td>
                                            1st three months Rs.12000/=<br />
                                            2nd three months Rs.9000/=
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Development
                                            moment Patten
                                            training course
                                            Level-6
                                        </td>
                                        <td>
                                            Six Months
                                            [96 hours]
                                        </td>
                                        <td>
                                            Monday
                                            to Saturday
                                        </td>
                                        <td>
                                            Three
                                            days
                                            per week
                                        </td>
                                        <td>
                                            1st three months Rs.12000/=<br />
                                            2nd three months Rs.9000/=
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--wrapper_indent -->
                </div>
            </div>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
