@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="parallax_window_in" data-parallax="scroll" data-image-src="@Url.Content("~/Asset/img/header/header_trainer_profile.jpg")" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
        <h1>MEET OUR TEAM</h1>
    </div>
</section>

<div class="container_styled_1">
    <div class="container margin_60">
        <div class="row">
            <aside class="col-md-3" id="sidebar">
                <div class="theiaStickySidebar">
                    <div class="profile">
                        <p class="text-center"><img src="~/Asset/img/team/team-12.jpg" alt="Teacher" class="img-circle styled_2" width="150"></p>
                        <ul class="social_teacher">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class=" icon-google"></i></a></li>
                        </ul>
                        <ul>
                            <li>Name <strong class="pull-right">T. M. Devendran</strong> </li>
                        </ul>

                    </div><!-- End box-sidebar -->
                </div>
            </aside>
            <div class="col-md-9">
                <div class="box_style_6">
                    <div class="indent_title_in">
                        <i class="icon_document_alt"></i>
                        <h3>Profile</h3>
                        <p>Has Follow</p>
                    </div>
                    <div class="wrapper_indent">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list_3">
                                    <li><strong>Bachelor Of Education Degree Course (Tamil Special) - 02nd Class</strong><p><p/></li>
                                    <li><strong>M. Sc (Sports Science)</strong><p><p /></li>
                                    <li><strong>Master Of Education Degree Course (English Medium)</strong><p></p></li>
                                    <li><strong>M. A (Public Administration) - 02nd Class</strong><p></p></li>
                                    <li><strong>IAAF Level I Technical Official</strong><p></p></li>
                                    <li><strong>IAAF Level I Coaches Course</strong><p>Sri Lanka</p></li>
                                    <li><strong>IAAF Level II Coaches Course</strong><p>Jakarta</p></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list_3">                                    
                                    <li><strong>National Technical Official (Athlatics)</strong><p></p></li>
                                    <li><strong>Netball Umpire - Bronze</strong><p></p></li>
                                    <li><strong>Spl Trained In Physical Education (Pally Gtc)</strong><p></p></li>
                                    <li><strong>Diploma In Sports</strong><p></p></li>
                                    <li><strong>Diploma In Educational Management</strong><p></p></li>
                                    <li><strong>Short term training Course</strong><p>Philippine, India, Malaysia, Induniesia</p></li>
                                </ul>
                            </div>
                        </div><!-- End row-->
                    </div><!--wrapper_indent -->
                </div>
            </div>

        </div><!--End row -->
    </div><!--End container -->
</div>
