@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="parallax_window_in" data-parallax="scroll" data-image-src="@Url.Content("~/Asset/img/header/header_trainer_profile.jpg")" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
        <h1>MEET OUR TEAM</h1>
    </div>
</section>

<div class="container_styled_1">
    <div class="container margin_60">
        <div class="row">
            <aside class="col-md-3" id="sidebar">
                <div class="theiaStickySidebar">
                    <div class="profile">
                        <p class="text-center"><img src="~/Asset/img/team/Ekanayake.jpg" alt="Teacher" class="img-circle styled_2" width="150"></p>
                        <ul class="social_teacher">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class=" icon-google"></i></a></li>
                        </ul>
                        <ul>
                            <li>Name <strong class="pull-right">DR. Lal Ekanayake</strong> </li>
                        </ul>

                    </div><!-- End box-sidebar -->
                </div>
            </aside>
            <div class="col-md-9">
                <div class="box_style_6">
                    <div class="indent_title_in">
                        <i class="icon_document_alt"></i>
                        <h3>Profile</h3>
                        <p>Has Follow</p>
                    </div>
                    <div class="wrapper_indent">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list_3">
                                    <li><strong>Post graduate Diploma in Sports & Exercise
Medicine</strong><p>University of Colombo<p/></li>
                                    <li><strong>Sports Management and leadership Course</strong><p>New Zeland<p /></li>
                                    <li><strong>Sports Management and leadership Course</strong><p>University of Camberra - Australia</p></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list_3">
                                    <li>
                                        <strong>Chief Medical officer</strong><p>
                                        Netball world cup 2011 Singapore, 2016 
                                        <br />Sydney Youth netball world cup 2018 Botswana
                                        <br />Sri Lankan Contingent Commonweath Games - Melbourne 2006, Delhi 2010, Glasgow 2014
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- End row-->
                    </div><!--wrapper_indent -->
                </div>
            </div>

        </div><!--End row -->
    </div><!--End container -->
</div>
